body
{
    color:rgb(108, 108, 108);
    text-align: left;
    font-family: "Arial";
    font-size: 30px;
    margin: 0;
    padding: 0;

}
#cabezera
{
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color:white;
    margin: 0;
    padding: 0.5em;
    text-align: left;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0 8em;
}
#container
{
    width: 70%;
    padding: 2px;
    text-align: left;
    
    border: 1px solid rgb(149, 149, 149);
    margin: 0 auto;
}
#container h1
{
    font-size: 30px;
    text-align: left;
}
#post
{
    padding: 1em;
}